body {
    font-family: Arial;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

h1 {
    color: darkblue;
}

h3 {
    color: gray;
}

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #34495e;
    color: white;
}

td {
    font-size: 14px;
}


.java {
    background-color: lightpink;
}

.python {
    background-color: lightyellow;
}

.maths {
    background-color: lightblue;
}

.web {
    background-color: lightgreen;
}

.dbms {
    background-color: #e6d5f7;
}

.os {
    background-color: #ffd9b3;
}

.lab {
    background-color: #cce5ff;
}

.sports {
    background-color: #f5d6e0;
}

.project {
    background-color: lightgray;
}

.break {
    background-color: #eeeeee;
    font-weight: bold;
}
